<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

<body>
  <br /><br /><br /><br />

  <li class="m-3">
    <input
      class="form-control m-3"
      placeholder="Search"
      type="text"
      style="width: 100%"
      [(ngModel)]="search"
      (input)="searchItem()"
    />
  </li>
  <div class="error bg-danger text-light" [hidden]="stocks">
    {{ itemName }} is Out of Stock
  </div>

  <a *ngFor="let i of items" class="main">
    <div class="jumbotron container main">
      <a [routerLink]="['/products', i.id, i.name]" target="_blank" class="">
        <div class="name text-dark">
          {{ i.name }}
        </div>
        <div class="cash text-dark">&#x20B9; {{ i.price }}</div>
        <div class="weight text-dark"><span>Weight: </span>{{ i.weight }}</div>

        <div class="quantity text-dark">
          <span>Quantity: </span> {{ i.quantity }}
        </div>
      </a>
      <button
        class="cart btn btn-primary"
        (click)="addCart(i.id, i.name, i.price, i.weight, i.src, i.quantity)"
      >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 16 16"
          class="bi bi-cart4"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
          />
        </svg>
      </button>
      <button
        [disabled]="whishlist_add"
        class="whishlist btn btn-primary"
        (click)="
          addWhishList(i.id, i.name, i.price, i.weight, i.src, i.quantity)
        "
      >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 16 16"
          class="bi bi-heart"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          />
        </svg>
      </button>

      <img src="{{ i.src }}" alt="" style="width: 100px" />
    </div>
  </a>
</body>
