<body>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  /><br /><br />
  <div class="body">
    <div class="main">
      <p class="name text-dark">{{ items[id].name }}</p>
      <p class="price">Price: &#x20B9;{{ items[id].price }}</p>
      <p class="weight">Weight: {{ items[id].weight }}</p>
      <p class="quantity">Quantity: {{ items[id].quantity }}</p>
    </div>
    <div class="buttons">
      <li><button class="btn btn-success text-bold">BUY NOW</button></li>
    </div>
  </div>
  <div class="models"></div>
  <span class="model badge badge-secondary">360&#176;</span>
</body>
